@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  background-color: #0E1011;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Bricolage Grotesque", sans-serif !important;
  font-weight: 800;
}

button {
  padding: 0.5rem 1rem;
  border-bottom: 2px solid #F2B72F !important;
  border: none;
  font-family: "Bricolage Grotesque", sans-serif !important;
  font-size: 1rem;
  font-weight: 800;
  line-height: 40.8px;
  text-align: center;
  background: none;
  color: #FFF;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background-color: rgba(242, 183, 47, 0.1);
  transform: translateY(-2px);
}

h1 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 8.7rem;
  font-weight: 800;
  line-height: 100%;
}
@media (max-width: 1000px) {
  h1 {
    font-size: 6.7rem;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 4.6rem !important;
  }
}

h2 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 7.3rem;
  font-weight: 800;
  line-height: 100%;
}
@media (max-width: 1000px) {
  h2 {
    font-size: 5.5rem;
  }
}
@media (max-width: 600px) {
  h2 {
    font-size: 3.3rem !important;
  }
}

h3 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 5.5rem;
  font-weight: 800;
  line-height: 100%;
}
@media (max-width: 1000px) {
  h3 {
    font-size: 3.8rem;
  }
}
@media (max-width: 600px) {
  h3 {
    font-size: 2.8rem !important;
  }
}

h4 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 4.6rem;
  font-weight: 800;
  line-height: 100%;
}
@media (max-width: 1000px) {
  h4 {
    font-size: 2.8rem;
  }
}
@media (max-width: 600px) {
  h4 {
    font-size: 2.1rem !important;
  }
}

h5 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 4rem;
  font-weight: 800;
  line-height: 100%;
}
@media (max-width: 1000px) {
  h5 {
    font-size: 2rem;
  }
}
@media (max-width: 600px) {
  h5 {
    font-size: 1.75rem !important;
  }
}

h6 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  line-height: 100%;
}
@media (max-width: 1000px) {
  h6 {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  h6 {
    font-size: 1.5rem !important;
  }
}

/*-------------------------------------------------*/
/*---------Headings específicos, cambios tipografía con clase. Tipografía Inter-----------*/
.h1-inter {
  font-family: "Inter", sans-serif;
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  display: flex;
}
@media (max-width: 1000px) {
  .h1-inter {
    font-size: 3.8rem;
  }
}
@media (max-width: 600px) {
  .h1-inter {
    font-size: 2.75rem;
    line-height: 100%;
  }
}

.h2-inter {
  font-family: "Inter", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  display: flex;
}
@media (max-width: 1000px) {
  .h2-inter {
    font-size: 2.8rem;
  }
}
@media (max-width: 600px) {
  .h2-inter {
    font-size: 2.5rem;
    line-height: 120%;
  }
}

.h3-inter {
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  display: flex;
}
@media (max-width: 1000px) {
  .h3-inter {
    font-size: 2.2rem;
  }
}
@media (max-width: 600px) {
  .h3-inter {
    font-size: 2.2rem;
    line-height: 3rem;
  }
}

.h4-inter {
  font-family: "Inter", sans-serif !important;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  display: flex;
}
@media (max-width: 1000px) {
  .h4-inter {
    font-size: 1.7rem;
  }
}
@media (max-width: 600px) {
  .h4-inter {
    font-size: 1.85rem;
    line-height: 2.5rem;
  }
}

.h5-inter {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  display: flex;
}
@media (max-width: 1000px) {
  .h5-inter {
    font-size: 1.1rem;
  }
}
@media (max-width: 600px) {
  .h5-inter {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}

.h6-inter {
  font-family: "Inter", sans-serif;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  display: flex;
}
@media (max-width: 1000px) {
  .h6-inter {
    font-size: 1rem;
  }
}

.p-xl {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.p-l {
  font-family: "Inter", sans-serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
}

p {
  color: #C0C0C0;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.p-s {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.025rem;
}

.navbar {
  background-color: #0E1011 !important;
  color: #FFF !important;
  justify-content: right;
}

.nav-link {
  color: #FFF !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.nav-link {
  color: #FFF !important;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
}

/*------------------------------------------------------------H1 y primera imagen ------------*/
.imagen-inicial-home-h1 {
  padding-top: 0.3rem;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 600px) {
  .imagen-inicial-home-h1 {
    padding-top: 0.3rem;
    display: flex;
    padding-left: 1.5rem;
    padding-right: 0;
  }
}

.caja-h1 {
  display: flex;
  padding: 4rem;
  padding-left: 15%;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
}

.titular-principal {
  color: #FFF;
}

.guion-h1 {
  color: #F2B72F;
  position: inherit;
}

.disenador-grafico-abajo {
  gap: -12rem;
}

.disenador-grafico-abajo {
  color: #909090 !important;
}

.p-titular-home {
  font-weight: 700;
  color: #C0C0C0;
}

/*--------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------H2 y logos*/
.intro-logos-h2 {
  max-width: 70rem;
  width: 65%;
  margin-left: auto;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10%;
  margin-bottom: 10%;
}

.grilla-iconos-home {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1.875rem;
  flex-wrap: wrap;
}

.softwares-iconos-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h3-home-he-trabajado {
  color: #FFF;
}

.h3-home-muchas-cosas {
  color: #F2B72F !important;
}

.un-poco-de-todo-home {
  color: #606060;
  font-style: italic;
}

.parrafo-iconos {
  width: 80%;
}

.manejo-y-controlo {
  font-weight: 700;
  color: #FFF;
  padding-top: 2rem;
}

/*----------------------------------------------------------------------------------Experiencia*/
.experiencia-seccion-completa {
  background-color: #181A1B;
  border-top: #F2B72F 4px solid;
}

.portfolio-pequeno {
  color: #F2B72F;
}

.parrafo-experiencia {
  color: #C0C0C0;
  font-weight: 400 !important;
  width: 80%;
}

.experiencia-h2 {
  color: #FFF;
}

/*----------------------------------------------------------------*/
/*----------------------------------------------------------------------------Diseño Web y App*/
.diseno-web-general {
  background-color: #F1F1F1;
  display: flex;
  flex-direction: row;
  height: fit-content;
  border-top: #F2B72F 4px solid;
  border-bottom: #F2B72F 4px solid;
}
@media (max-width: 1000px) {
  .diseno-web-general {
    display: flex;
    flex-direction: column;
  }
}

.imagen-diseno-web {
  display: flex;
  flex-basis: auto;
  width: fit-content;
  max-height: 20%;
}
@media (max-width: 1000px) {
  .imagen-diseno-web {
    display: flex;
    flex-basis: auto;
    height: fit-content;
    width: 50%;
    flex-grow: 1;
    height: auto;
  }
}

.diseno-web-y-app-caja-interna {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: fit-content;
}
@media (max-width: 1000px) {
  .diseno-web-y-app-caja-interna {
    padding: 12% 10%;
  }
}

.un-poco-de-todo {
  color: #181A1B;
}

.web-y-app-texto {
  color: #F2B72F;
}

.h4-diseno-web-app-texto {
  font-weight: 400;
  color: #181A1B;
}

.boton-diseno-web-app {
  color: #0E1011;
}

/*----------------------------------------------------------------*/
/*--------------------------------------------------------------------------Diseño de Marca*/
.diseno-de-marcas-general {
  background-color: #F1F1F1;
  display: flex;
  flex-direction: row;
  height: fit-content;
  border-top: #F2B72F 4px solid;
  border-bottom: #F2B72F 4px solid;
  align-items: stretch;
}
@media (max-width: 1000px) {
  .diseno-de-marcas-general {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }
}

.imagen-diseno-marcas {
  display: flex;
  flex-basis: auto;
  width: fit-content;
  height: fit-content;
}

.diseno-marcas-caja-interna {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: fit-content;
}
@media (max-width: 1000px) {
  .diseno-marcas-caja-interna {
    padding: 12% 10%;
  }
}

.lo-que-no-tenia-hueco {
  color: #181A1B;
}

.de-marca-texto {
  color: #F2B72F;
}

.h4-diseno-de-marcas-texto {
  font-weight: 400;
  color: #181A1B;
}

.boton-diseno-de-marcas {
  color: #0E1011;
}

/*----------------------------------------------------------------*/
/*-----------------------------------------------------Call to Action*/
.call-to-action-general {
  background-color: #F2B72F;
}

.call-to-action-pequeno {
  color: #0E1011;
}

.parrafo-call-to-action {
  color: #0E1011;
  font-weight: 400 !important;
}

.call-to-action-h2 {
  color: #0E1011;
}

.boton-cta-contacto {
  color: #0E1011;
  border-bottom: 2px solid #0E1011 !important;
}

/*----------------------------------------------------------------*/
.experiencia-seccion-completa, .call-to-action-general {
  display: flex;
  padding: 6.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0, 8rem;
  align-self: stretch;
}

/*-----------------------------------------------------Footer*/
.footer-main {
  background-color: #181A1B;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem;
  gap: 2.2rem;
}

.caja-enlaces-footer {
  display: flex;
  flex-direction: row;
  flex: auto;
  gap: 3.75rem;
  color: #FFF;
}

.guion-footer-amarillo {
  color: #F2B72F;
}

.footer-texto-final {
  font-size: 1.5rem !important;
}

/*----------------------------------------------------------------*/
/*---------------------------------DISEÑO ESPECÍFICO----------------------------------------------*/
/*---------------------------------------------------------------------------------ADAPTACIÓN A MOVIL------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 600px) {
  /*------------------------------------------------------------------------------------------H1 y primera imagen */
  .caja-h1 {
    align-items: left;
    padding: 3rem;
    display: flex;
  }
  .titular-principal {
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  /*----------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------H2 y logos*/
  .intro-logos-h2 {
    width: fit-content;
    padding: 8% 12%;
  }
  .grilla-iconos-home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
    max-width: 59.9375rem;
  }
  /*----------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------Experiencia*/
  .experiencia-seccion-completa {
    padding: 12% 10%;
    gap: 0.8rem;
  }
  /*----------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------Diseño Web y App*/
  .diseno-web-general {
    display: flex;
    flex-direction: column;
  }
  .diseno-web-y-app-caja-interna {
    padding: 12% 10%;
    width: 50%;
    flex-grow: 1;
    height: auto;
  }
  /*----------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------Diseño de Marca*/
  .diseno-de-marcas-general {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .diseno-marcas-caja-interna {
    padding: 12% 10%;
  }
  /*----------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------Call to Action*/
  .call-to-action-general {
    padding: 12% 10%;
    gap: 0, 8rem;
  }
  /*----------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------Footer*/
  .footer-main {
    padding: 12% 10%;
    gap: 2rem;
  }
  .footer-texto {
    font-size: 1.5rem !important;
  }
  .footer-texto-final {
    font-size: 1rem !important;
  }
  .caja-enlaces-footer {
    display: flex;
    flex-direction: row;
    flex: auto;
    gap: 1rem;
  }
  /*----------------------------------------------------------------*/
}
/*-----------------------------------------------------------------------------------------Corrección imágenes de Diseño web y Diseño marca*/
.imagen-diseno-web,
.imagen-diseno-marcas {
  width: 50%;
  flex-grow: 1;
  height: auto;
}

.imagen-diseno-web img,
.imagen-diseno-marcas img {
  width: 100%;
  /* NOTA: Sé que no debía usar el 100% por las reglas de la entrega, pero no miento cuando digo que llevo horas probando y no doy con otro resultado D: sean pacientes conmigo*/
  height: 100%;
  display: block;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .imagen-diseno-web,
  .diseno-web-y-app-caja-interna,
  .imagen-diseno-marcas,
  .diseno-marcas-caja-interna {
    width: 100%;
    /* NOTA: Sé que no debía usar el 100% por las reglas de la entrega, pero no miento cuando digo que llevo horas probando y no doy con otro resultado D: sean pacientes conmigo*/
    flex-grow: 0;
  }
}
/*--------------------------------------------------------PÁGINA DE PROYECTOS---------------------------------------------------------------------------------------*/
/*-----------------------------------------------------H1 Título Proyectos*/
.proyectos-h1-caja-general {
  border-bottom: #F2B72F 4px solid;
  display: flex;
  padding: 5% 0;
  padding-left: 5%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  align-self: stretch;
}

.proyectos-pequeno {
  color: #C0C0C0;
}

.proyectos-titulo-h1 {
  color: #F2B72F;
}

.parrafo-proyectos {
  color: #C0C0C0;
  font-weight: 400 !important;
  width: 80%;
}

@media (max-width: 600px) {
  .proyectos-h1-caja-general {
    padding: 10% 8%;
  }
}
/*---------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------Carrusel Diseño Web*/
.proyectos-h2-caja-general {
  background-color: #F1F1F1;
  display: flex;
  padding: 5% 0;
  padding-left: 5%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  align-self: stretch;
}

.proyectos-diseno-web-h2 {
  color: #0E1011;
  font-weight: 500;
}

.parrafo-proyectos-diseno-web {
  color: #181A1B;
  font-weight: 400 !important;
  width: 80%;
}

.texto-pequeno-slider {
  color: #F1F1F1;
}

/*---------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------Carrusel Diseño MARCAS*/
.proyectos-h2--marcas-caja-general {
  background-color: #C0C0C0;
  display: flex;
  padding: 5% 0;
  padding-left: 5%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  align-self: stretch;
}

.proyectos-diseno-marcas-h2 {
  color: #0E1011;
  font-weight: 500;
}

.parrafo-proyectos-diseno-marcas {
  color: #181A1B;
  font-weight: 400 !important;
  width: 80%;
}

.texto-pequeno-slider {
  color: #F1F1F1;
}

/*# sourceMappingURL=styles.css.map */
