@import "./utilites/variables";
@import "./utilites/base";
@import "./utilites/tipografia";
@import "./elementos/navbar";
@import "./paginas/home";
@import "./paginas/proyectos";
@import "./utilites/extends";
@import "./elementos/footer";