@import "./utilites/variables";
@import "./utilites/base";
@import "./utilites/tipografia";
@import "./elementos/navbar";
@import "./paginas/home";
@import "./paginas/proyectos";
@import "./utilites/extendes";
@import "./elementos/footer";

/*---------------------------------DISEÑO ESPECÍFICO----------------------------------------------*/



/*---------------------------------------------------------------------------------ADAPTACIÓN A MOVIL------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 600px) {


        /*------------------------------------------------------------------------------------------H1 y primera imagen */








        .caja-h1 {
                align-items: left;
                padding: 3rem;
                display: flex;
        }


        .titular-principal {
                color: $blanco;
                display: flex;
                flex-direction: column;
                gap: 1.25rem;
        }



        /*----------------------------------------------------------------*/


        /*------------------------------------------------------------------------------------------H2 y logos*/

        .intro-logos-h2 {
                width: fit-content;
                padding: 8% 12%;

        }


        .grilla-iconos-home {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1.875rem;
                max-width: 59.9375rem;
        }



        /*----------------------------------------------------------------*/




        /*------------------------------------------------------------------------------------------Experiencia*/

        .experiencia-seccion-completa {

                padding: 12% 10%;
                gap: 0.8rem;

        }

        /*----------------------------------------------------------------*/





        /*------------------------------------------------------------------------------------------Diseño Web y App*/

        .diseno-web-general {
                display: flex;
                flex-direction: column;

        }

        .diseno-web-y-app-caja-interna {
                padding: 12% 10%;
                width: 50%;
                flex-grow: 1;
                height: auto;
        }

        /*----------------------------------------------------------------*/




        /*------------------------------------------------------------------------------------------Diseño de Marca*/

        .diseno-de-marcas-general {
                display: flex;
                flex-direction: column;
                flex-direction: column-reverse;
        }

        .diseno-marcas-caja-interna {
                padding: 12% 10%;

        }

        /*----------------------------------------------------------------*/



        /*------------------------------------------------------------------------------------------Call to Action*/

        .call-to-action-general {
                padding: 12% 10%;
                gap: 0, 8rem;
        }

        /*----------------------------------------------------------------*/


        /*------------------------------------------------------------------------------------------Footer*/
        .footer-main {
                padding: 12% 10%;
                gap: 2rem;
        }

        .footer-texto {
                font-size: 1.5rem !important;
        }

        .footer-texto-final {
                font-size: 1rem !important;
        }

        .caja-enlaces-footer {
                display: flex;
                flex-direction: row;
                flex: auto;
                gap: 1rem;
        }


        /*----------------------------------------------------------------*/

}



/*-----------------------------------------------------------------------------------------Corrección imágenes de Diseño web y Diseño marca*/

.imagen-diseno-web,
.imagen-diseno-marcas {
        width: 50%;
        flex-grow: 1;
        height: auto;
}

.imagen-diseno-web img,
.imagen-diseno-marcas img {
        width: 100%;
        /* NOTA: Sé que no debía usar el 100% por las reglas de la entrega, pero no miento cuando digo que llevo horas probando y no doy con otro resultado D: sean pacientes conmigo*/
        height: 100%;
        display: block;
        object-fit: cover;
}


@media (max-width: 1000px) {

        .imagen-diseno-web,
        .diseno-web-y-app-caja-interna,
        .imagen-diseno-marcas,
        .diseno-marcas-caja-interna {
                width: 100%;
                /* NOTA: Sé que no debía usar el 100% por las reglas de la entrega, pero no miento cuando digo que llevo horas probando y no doy con otro resultado D: sean pacientes conmigo*/
                flex-grow: 0;
        }
}


/*--------------------------------------------------------PÁGINA DE PROYECTOS---------------------------------------------------------------------------------------*/

/*-----------------------------------------------------H1 Título Proyectos*/

.proyectos-h1-caja-general {
        border-bottom: $amarillo-1 4px solid;
        display: flex;
        padding: 5% 0;
        padding-left: 5%;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.25rem;
        align-self: stretch;
}

.proyectos-pequeno {
        color: $gris-2;
}

.proyectos-titulo-h1 {
        color: $amarillo-1;
}

.parrafo-proyectos {
        color: $gris-2;
        font-weight: 400 !important;
        width: 80%;
}

@media (max-width: 600px) {
        .proyectos-h1-caja-general {
                padding: 10% 8%;
        }
}

/*---------------------------------------------------------------------------------------------------------------------*/


/*-----------------------------------------------------Carrusel Diseño Web*/

.proyectos-h2-caja-general {
        background-color: $gris-1;
        display: flex;
        padding: 5% 0;
        padding-left: 5%;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.25rem;
        align-self: stretch;
}


.proyectos-diseno-web-h2 {
        color: $negro-1;
        font-weight: 500;
}

.parrafo-proyectos-diseno-web {
        color: $negro-2;
        font-weight: 400 !important;
        width: 80%;
}

.texto-pequeno-slider {
        color: $gris-1;
}

/*---------------------------------------------------------------------------------------------------------------------*/


/*-----------------------------------------------------Carrusel Diseño MARCAS*/

.proyectos-h2--marcas-caja-general {
        background-color: $gris-2;
        display: flex;
        padding: 5% 0;
        padding-left: 5%;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.25rem;
        align-self: stretch;
}


.proyectos-diseno-marcas-h2 {
        color: $negro-1;
        font-weight: 500;
}

.parrafo-proyectos-diseno-marcas {
        color: $negro-2;
        font-weight: 400 !important;
        width: 80%;
}

.texto-pequeno-slider {
        color: $gris-1;
}