%cajareutilizable-1 {
    display: flex;
    padding: 6.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0, 8rem;
    align-self: stretch;

    @media (max-width: 600px) {
        padding: 12% 10%;
        gap: 0.8rem;

    }
}