h1 {
        font-family: "Bricolage Grotesque";
        font-size: 8.7rem;
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
}


h2 {
        font-family: "Bricolage Grotesque";
        font-size: 7.3rem;
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
}


h3 {
        font-family: "Bricolage Grotesque";
        font-size: 5.5rem;
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
}


h4 {
        font-family: "Bricolage Grotesque";
        font-size: 4.6rem;
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
}


h5 {

        font-family: "Bricolage Grotesque";
        font-size: 4rem;
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
}


h6 {

        font-family: "Bricolage Grotesque";
        font-size: 3rem;
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
}

html {
        font-size: 18px;
}