
// Colores usados o a utilizar
$blanco: #FFF;
$amarillo-1: #F2B72F;
$gris-1: #F1F1F1;
$gris-2: #C0C0C0;
$gris-3: #909090;
$gris-4: #606060;
$negro-1: #0E1011;
$negro-2: #181A1B;


//--------------------------------------------------------------------------------------
//--------------------------------------------------------------------------------------
//--------------------------------------------------------------------------------------
//--------------------------------------------------------------------------------------


// Tipograf´ias
$font-bricolage: "Bricolage Grotesque", sans-serif;
$font-inter: "Inter", sans-serif;