
/*-----------------------------------------------------Footer*/

.footer-main {
        background-color: $negro-2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3.5rem;
        gap: 2.2rem;
}

.caja-enlaces-footer {
        display: flex;
        flex-direction: row;
        flex: auto;
        gap: 3.75rem;
        color: $blanco;
}

.guion-footer-amarillo {
        color: $amarillo-1;
}

.footer-texto-final {
        font-size: 1.5rem !important;
}

/*----------------------------------------------------------------*/