

.navbar {
    background-color: $negro-1 !important;
    color: $blanco !important;
    justify-content: right;
}



.nav-link {
    color: $blanco !important;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}


.nav-link {
    color: $blanco !important;
    font-family: $font-bricolage;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
}