//-------------//
/*------------------------------------------------------------H1 y primera imagen ------------*/

.imagen-inicial-home-h1 {
    padding-top: 0.3rem;
    display: flex;
    justify-content: flex-end;

    
    @media (max-width: 600px) {
        padding-top: 0.3rem;
        display: flex;
        padding-left: 1.5rem;
        padding-right: 0;
    }

}


.caja-h1 {
    display: flex;
    padding: 4rem;
    padding-left: 15%;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;


    @media (max-width: 600px) {
        align-items: left;
        padding: 3rem;
        display: flex;
    }
}


.titular-principal {
    color: $blanco;

    @media (max-width: 600px) {
        color: $blanco;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

}


.guion-h1 {
    color: #F2B72F;
    position: inherit;
}


.disenador-grafico-abajo {
    gap: -12rem;

}


.disenador-grafico-abajo {
    color: $gris-3 !important;
}


.p-titular-home {
    font-weight: 700;
    color: $gris-2;
}

/*--------------------------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------------H2 y logos*/

.intro-logos-h2 {
    max-width: 70rem;
    width: 65%;
    margin-left: auto;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10%;
    margin-bottom: 10%;

    @media (max-width: 600px) {
        width: fit-content;
        padding: 8% 12%;
    }
}

.grilla-iconos-home {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1.875rem;
    flex-wrap: wrap;

    @media (max-width: 600px) {
        display: grid column;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-template-columns: repeat(3, 1fr);
        gap: 1.875rem;
        max-width: 59.9375rem;
    }
}

.softwares-iconos-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.h3-home-he-trabajado {
    color: $blanco;
}

.h3-home-muchas-cosas {
    color: $amarillo-1 !important;
}

.un-poco-de-todo-home {
    color: $gris-4;
    font-style: italic;
}

.parrafo-iconos {
    width: 100%;
}

.manejo-y-controlo {
    font-weight: 700;
    color: $blanco;
    padding-top: 2rem;
}

.texto-nombre-software {
        @include estilo-textos (0.95rem, 400, 2.5rem);

}


/*----------------------------------------------------------------------------------Experiencia*/

.experiencia-seccion-completa {
    background-color: $negro-2;
    border-top: $amarillo-1 4px solid;
    @extend %cajareutilizable-1;
}


.portfolio-pequeno {
    color: $amarillo-1;
}


.parrafo-experiencia {
    color: $gris-2;
    font-weight: 400 !important;
    width: 80%;
}


.experiencia-h2 {
    color: $blanco;
    display: flex;
}


/*----------------------------------------------------------------*/



/*----------------------------------------------------------------------------Diseño Web y App*/

.diseno-web-general {
    background-color: $gris-1;
    display: flex;
    flex-direction: row;
    height: fit-content;
    border-top: $amarillo-1 4px solid;
    border-bottom: $amarillo-1 4px solid;

    @media (max-width: 1000px) {
        flex-direction: column;
    }

}

.imagen-diseno-web {
    display: flex;
    flex-basis: auto;
    width: fit-content;
    max-height: 20%;


    @media (max-width: 1000px) {
        display: flex;
        flex-basis: auto;
        height: fit-content;

        width: 80%;
        flex-grow: 1;
        height: auto;
    }


}

.diseno-web-y-app-caja-interna {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content;

    @media (max-width: 1000px) {
        padding: 12% 10%;
    }


}

.un-poco-de-todo {
    color: $negro-2;
}

.web-y-app-texto {
    color: $amarillo-1;
}


.h4-diseno-web-app-texto {
    font-weight: 400;
    color: $negro-2;
}

.boton-diseno-web-app {
    color: $negro-1;
}

/*----------------------------------------------------------------*/



/*--------------------------------------------------------------------------Diseño de Marca*/

.diseno-de-marcas-general {
    background-color: $gris-1;
    display: flex;
    flex-direction: row;
    height: fit-content;
    border-top: $amarillo-1 4px solid;
    border-bottom: $amarillo-1 4px solid;

    @media (max-width: 1000px) {
        flex-direction: column;
    }

}

.imagen-diseno-marcas {
    display: flex;
    flex-basis: auto;
    width: fit-content;
    max-height: 20%;


    @media (max-width: 1000px) {
        display: flex;
        flex-basis: auto;
        height: fit-content;

        width: 80%;
        flex-grow: 1;
        height: auto;
    }
}

.diseno-marcas-caja-interna {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content;

    @media (max-width: 1000px) {
        padding: 12% 10%;
    }


}


.lo-que-no-tenia-hueco {
    color: $negro-2;
}


.de-marca-texto {
    color: $amarillo-1;
}


.h4-diseno-de-marcas-texto {
    font-weight: 400;
    color: $negro-2;
}

.boton-diseno-de-marcas {
    color: $negro-1;
}

/*----------------------------------------------------------------*/




/*-----------------------------------------------------Call to Action*/

.call-to-action-general {
    @extend %cajareutilizable-1;
    background-color: $amarillo-1;

}

.call-to-action-pequeno {
    color: $negro-1;
}

.parrafo-call-to-action {
    color: $negro-1;
    font-weight: 400 !important;
}

.call-to-action-h2 {
    color: $negro-1;
}

.boton-cta-contacto {
    color: $negro-1;
    border-bottom: 2px solid $negro-1 !important;

}

/*----------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------------Corrección imágenes de Diseño web y Diseño marca*/

.imagen-diseno-web, .imagen-diseno-marcas  {

    @media (max-width: 1000px) {
        width: 100%;
        flex-grow: 0;
    }

}



.imagen-diseno-web img, 
.imagen-diseno-marcas img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

    @media (max-width: 1000px) {
        width: 100%;
        flex-grow: 0;
    }
}